senado.cl/iac/lib/scraper/asl/legislatura.asl.json
{
  "QueryLanguage": "JSONata",
  "Comment": "Extracción de una Legislatura a partir de su id",
  "StartAt": "Assign legId & fechaModificacion",
  "States": {
    "Assign legId & fechaModificacion": {
      "Type": "Pass",
      "Next": "Get Sesiones",
      "Assign": {
        "legId": "{% $string($states.input.legId) %}",
        "fechaModificacion": "{% $now() %}"
      }
    },
    "Get Sesiones": {
      "Type": "Task",
      "Resource": "arn:aws:states:::http:invoke",
      "Arguments": {
        "ApiEndpoint": "https://web-back.senado.cl/api/sessions",
        "Method": "GET",
        "InvocationConfig": {
          "ConnectionArn": "arn:aws:events:us-east-1:886436935193:connection/SenadoCl-scraper-connection/f65e78e8-bb41-421f-98f4-2df03941b4eb"
        },
        "QueryParameters": {
          "id_legislatura=": "{% $legId %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "JitterStrategy": "FULL"
        }
      ],
      "Output": "{% $states.result.ResponseBody.data.data[].{\"id\": ID_SESION, \"numero\": NRO_SESION, \"legId\": ID_LEGISLATURA, \"legNumero\": NRO_LEGISLATURA, \"fecha\": FECHA, \"horaInicio\": HORA_INICIO, \"horaTermino\": HORA_TERMINO, \"tipo\": TIPO_SESION, \"cuenta\": CUENTA } %}",
      "Next": "Parallel Sesiones"
    },
    "Parallel Sesiones": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Update Legislatura",
          "States": {
            "Update Legislatura": {
              "Type": "Task",
              "Resource": "arn:aws:states:::dynamodb:updateItem",
              "Arguments": {
                "TableName": "${legislaturas_table_name}",
                "Key": {
                  "id": {
                    "N": "{% $legId %}"
                  }
                },
                "UpdateExpression": "SET fechaModificacion = :fechaModificacion, sesiones = :sesiones",
                "ExpressionAttributeValues": {
                  ":fechaModificacion": {
                    "S": "{% $fechaModificacion %}"
                  },
                  ":sesiones": {
                    "N": "{% $states.input[] ~> $count() ~> $string() %}"
                  }
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Foreach Sesion",
          "States": {
            "Foreach Sesion": {
              "Type": "Map",
              "ItemProcessor": {
                "ProcessorConfig": {
                  "Mode": "INLINE"
                },
                "StartAt": "Assign sesId",
                "States": {
                  "Assign sesId": {
                    "Type": "Pass",
                    "Next": "Parallel",
                    "Assign": {
                      "sesId": "{% $states.input.id %}"
                    }
                  },
                  "Parallel": {
                    "Type": "Parallel",
                    "Branches": [
                      {
                        "StartAt": "Transform",
                        "States": {
                          "Transform": {
                            "Type": "Pass",
                            "Next": "Update Sesion",
                            "Output": "{% $states.input.{\n    \"id\": {\n        \"N\": id ~> $string()\n    },\n    \"numero\": {\n        \"N\": numero\n    },\n    \"legId\": {\n        \"N\": legId ~> $string()\n    },\n    \"legNumero\": {\n        \"N\": legNumero ~> $string()\n    },\n    \"fecha\": {\n        \"S\": fecha\n    },\n    \"horaInicio\": {\n        \"S\": horaInicio\n    },\n    \"horaTermino\": {\n        \"S\": horaTermino\n    },\n    \"tipo\": {\n        \"S\": tipo\n    },\n    \"cuenta\": {\n        \"N\": cuenta\n    }\n} %}"
                          },
                          "Update Sesion": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::dynamodb:updateItem",
                            "Arguments": {
                              "TableName": "${sesiones_table_name}",
                              "Key": {
                                "id": {
                                  "N": "{% $sesId %}"
                                }
                              },
                              "UpdateExpression": "SET fechaModificacion = :fechaModificacion, info = :info",
                              "ExpressionAttributeValues": {
                                ":fechaModificacion": {
                                  "S": "{% $fechaModificacion %}"
                                },
                                ":info": {
                                  "M": "{% $states.input %}"
                                }
                              }
                            },
                            "End": true
                          }
                        }
                      },
                      {
                        "StartAt": "ExtractVotacionAndAsistencia",
                        "States": {
                          "ExtractVotacionAndAsistencia": {
                            "Type": "Task",
                            "Arguments": {
                              "StateMachineArn": "${sesion_state_machine}",
                              "Input": {
                                "sesId": "{% $sesId %}"
                              },
                              "Name": "{% 'sesId-' & $sesId & '-' & $millis() %}"
                            },
                            "Resource": "arn:aws:states:::aws-sdk:sfn:startSyncExecution",
                            "End": true,
                            "Output": {
                              "sesId": "{% $sesId %}",
                              "status": "{% $states.result.Status %}"
                            }
                          }
                        }
                      }
                    ],
                    "End": true
                  }
                }
              },
              "MaxConcurrency": 5,
              "End": true
            }
          }
        }
      ],
      "End": true
    }
  },
  "TimeoutSeconds": 300
}
