senado.cl/iac/lib/scraper/asl/legislaturas.asl.json
{
  "QueryLanguage": "JSONata",
  "Comment": "Extracción del listado de Legislaturas",
  "StartAt": "Get Legislaturas",
  "States": {
    "Get Legislaturas": {
      "Type": "Task",
      "Resource": "arn:aws:states:::http:invoke",
      "Arguments": {
        "ApiEndpoint": "https://www.senado.cl/actividad-legislativa/sala/sesiones-de-sala",
        "Method": "GET",
        "InvocationConfig": {
          "ConnectionArn": "${events_connection_arn}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "JitterStrategy": "FULL"
        }
      ],
      "Output": "{% $parse( $match($states.result.ResponseBody, /<script id=\"__NEXT_DATA__\" type=\"application\\/json\">([\\s\\S]*?)<\\/script>/).groups[0] ) %}",
      "Next": "Transform Legislatura"
    },
    "Transform Legislatura": {
      "Type": "Pass",
      "Next": "Save Legislaturas"
    },
    "Save Legislaturas": {
      "Type": "Task",
      "Arguments": {
        "Body": {},
        "Bucket": "${bucket_name}",
        "Key": "raw/legislaturas/data.json"
      },
      "Resource": "arn:aws:states:::aws-sdk:s3:putObject",
      "End": true
    }
  }
}
