senado.cl/iac/lib/scraper/asl/legislatura.asl.json
{
  "QueryLanguage": "JSONata",
  "Comment": "Extracción de una Legislatura a partir de su id",
  "StartAt": "Assign legId & fechaModificacion",
  "States": {
    "Assign legId & fechaModificacion": {
      "Type": "Pass",
      "Next": "Get Sesiones",
      "Assign": {
        "legId": "{% $string($states.input.legId) %}",
        "fechaModificacion": "{% $now() %}"
      }
    },
    "Get Sesiones": {
      "Type": "Task",
      "Resource": "arn:aws:states:::http:invoke",
      "Arguments": {
        "ApiEndpoint": "https://web-back.senado.cl/api/sessions",
        "Method": "GET",
        "InvocationConfig": {
          "ConnectionArn": "${events_connection_arn}"
        },
        "QueryParameters": {
          "id_legislatura=": "{% $legId %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "JitterStrategy": "FULL"
        }
      ],
      "Output": "{% $states.result.ResponseBody.data.data[].{\"id\": ID_SESION, \"numero\": NRO_SESION, \"legId\": ID_LEGISLATURA, \"legNumero\": NRO_LEGISLATURA, \"fecha\": FECHA, \"horaInicio\": HORA_INICIO, \"horaTermino\": HORA_TERMINO, \"tipo\": TIPO_SESION, \"cuenta\": CUENTA } %}",
      "Next": "Parallel Sesiones"
    },
    "Parallel Sesiones": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Update Legislatura",
          "States": {
            "Update Legislatura": {
              "Type": "Task",
              "Resource": "arn:aws:states:::dynamodb:updateItem",
              "Arguments": {
                "TableName": "${legislaturas_table_name}",
                "Key": {
                  "id": {
                    "N": "{% $legId %}"
                  }
                },
                "UpdateExpression": "SET fechaModificacion = :fechaModificacion, sesiones = :sesiones",
                "ExpressionAttributeValues": {
                  ":fechaModificacion": {
                    "S": "{% $fechaModificacion %}"
                  },
                  ":sesiones": {
                    "N": "{% $states.input[] ~> $count() ~> $string() %}"
                  }
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Foreach Sesion",
          "States": {
            "Foreach Sesion": {
              "Type": "Map",
              "ItemProcessor": {
                "ProcessorConfig": {
                  "Mode": "INLINE"
                },
                "StartAt": "Assign sesId",
                "States": {
                  "Assign sesId": {
                    "Type": "Pass",
                    "Next": "ExtractVotacionAndAsistencia",
                    "Assign": {
                      "sesId": "{% $states.input.id %}"
                    }
                  },
                  "ExtractVotacionAndAsistencia": {
                    "Type": "Task",
                    "Arguments": {
                      "StateMachineArn": "${sesion_state_machine}",
                      "Input": {
                        "sesId": "{% $sesId %}"
                      },
                      "Name": "{% 'sesId-' & $sesId & '-' & $millis() %}"
                    },
                    "Resource": "arn:aws:states:::aws-sdk:sfn:startSyncExecution",
                    "End": true,
                    "Output": {
                      "sesId": "{% $sesId %}",
                      "status": "{% $states.result.Status %}"
                    }
                  }
                }
              },
              "MaxConcurrency": 5,
              "Next": "Al menos 1 error"
            },
            "Al menos 1 error": {
              "Type": "Choice",
              "Choices": [
                {
                  "Next": "Error",
                  "Condition": "{% $count($states.input[status = \"FAILED\"]) > 0 %}"
                }
              ],
              "Default": "Pass"
            },
            "Error": {
              "Type": "Fail"
            },
            "Pass": {
              "Type": "Pass",
              "End": true
            }
          }
        }
      ],
      "End": true
    }
  },
  "TimeoutSeconds": 300
}
