senado.cl/iac/lib/scraper/asl/legislaturas.asl.json
{
  "QueryLanguage": "JSONata",
  "Comment": "Extracción del listado de Legislaturas",
  "StartAt": "Assign fechaModificacion",
  "States": {
    "Assign fechaModificacion": {
      "Type": "Pass",
      "Next": "Get Legislaturas",
      "Assign": {
        "fechaModificacion": "{% $now() %}"
      }
    },
    "Get Legislaturas": {
      "Type": "Task",
      "Resource": "arn:aws:states:::http:invoke",
      "Arguments": {
        "ApiEndpoint": "https://web-back.senado.cl/api/legislatures",
        "Method": "GET",
        "InvocationConfig": {
          "ConnectionArn": "${events_connection_arn}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "BackoffRate": 2,
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Foreach Legislatura",
      "Output": "{% $states.result.ResponseBody.data %}"
    },
    "Foreach Legislatura": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "Assign & Transform",
        "States": {
          "Assign & Transform": {
            "Type": "Pass",
            "Next": "Update Legislatura",
            "Assign": {
              "id": "{% $string($states.input.ID_LEGISLATURA) %}"
            },
            "Output": "{% $states.input.{\n    \"id\": {\n        \"N\": $string(ID_LEGISLATURA)\n    },\n    \"numero\": {\n        \"N\": $string(NUMERO)\n    },\n    \"inicio\": {\n        \"S\": INICIO\n    },\n    \"termino\": {\n        \"S\": TERMINO\n    },\n    \"tipo\": TIPO != null ? {\n        \"S\": $string(TIPO)\n    } : undefined\n} %}"
          },
          "Update Legislatura": {
            "Type": "Task",
            "Resource": "arn:aws:states:::dynamodb:updateItem",
            "Arguments": {
              "TableName": "${legislaturas_table_name}",
              "Key": {
                "legId": {
                  "N": "{% $id %}"
                }
              },
              "UpdateExpression": "SET fechaModificacion = :fechaModificacion, info = :info",
              "ExpressionAttributeValues": {
                ":fechaModificacion": {
                  "S": "{% $fechaModificacion %}"
                },
                ":info": {
                  "M": "{% $states.input %}"
                }
              }
            },
            "End": true
          }
        }
      },
      "End": true
    }
  }
}
