senado.cl/iac/lib/scraper/asl/sesion.asl.json
{
  "QueryLanguage": "JSONata",
  "Comment": "Extracción de información de Votaciones y Asistencia a Sesiones a partir de su id",
  "StartAt": "Assign legId & sesId",
  "States": {
    "Assign legId & sesId": {
      "Type": "Pass",
      "Next": "Parallel Sesion",
      "Assign": {
        "legId": "{% $states.input.legId ~> $string %}",
        "sesId": "{% $states.input.sesId ~> $string %}"
      }
    },
    "Parallel Sesion": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Get Asistencia",
          "States": {
            "Get Asistencia": {
              "Type": "Task",
              "Resource": "arn:aws:states:::http:invoke",
              "Arguments": {
                "ApiEndpoint": "https://web-back.senado.cl/api/sessions/attendance",
                "InvocationConfig": {
                  "ConnectionArn": "${events_connection_arn}"
                },
                "QueryParameters": {
                  "id_sesion": "{% $sesId %}"
                },
                "Method": "GET"
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "BackoffRate": 2,
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "JitterStrategy": "FULL"
                }
              ],
              "Next": "Assign asistencia & senSlugs",
              "Output": "{% $states.result.ResponseBody.data %}"
            },
            "Assign asistencia & senSlugs": {
              "Type": "Pass",
              "Next": "Parallel Asistencia",
              "Assign": {
                "asistencia": "{% $states.input.{\n    \"sesId\": {\n        \"N\": ID_SESION ~> $string\n    },\n    \"sesNumero\": {\n        \"N\": NUMERO_SESION ~> $string\n    },\n    \"totalSenadores\": {\n        \"N\": TOTAL_SENADORES ~> $string\n    },\n    \"totalSesiones\": {\n        \"N\": TOTAL_SESIONES ~> $string\n    },\n    \"inicio\": {\n        \"S\": FECHA_HORA_INICIO\n    },\n    \"termino\": {\n        \"S\": FECHA_HORA_TERMINO\n    },\n    \"detalle\": {\n        \"L\": DATA[].{\n            \"M\": {\n                \"parId\": {\n                    \"N\": ID_PARLAMENTARIO ~> $string\n                },\n                \"parSlug\": {\n                    \"S\": SLUG\n                },\n                \"nombre\": {\n                    \"S\": NOMBRE\n                },\n                \"apellidoPaterno\": {\n                    \"S\": APELLIDO_PATERNO\n                },\n                \"apellidoMaterno\": {\n                    \"S\": APELLIDO_MATERNO\n                },\n                \"sesId\": {\n                    \"N\": ID_SESION ~> $string\n                },\n                \"sesNumero\": {\n                    \"N\": NUMERO_SESION ~> $string\n                },\n                \"asistencia\": {\n                    \"S\": ASISTENCIA\n                },\n                \"justificacion\": JUSTIFICACION != null ? {\n                    \"S\": JUSTIFICACION\n                } : undefined\n            }\n        }\n    } \n} %}",
                "senSlugs": "{% $states.input.DATA[].SLUG ~> $distinct %}"
              }
            },
            "Parallel Asistencia": {
              "Type": "Parallel",
              "Branches": [
                {
                  "StartAt": "Transform asistencia",
                  "States": {
                    "Transform asistencia": {
                      "Type": "Pass",
                      "Next": "Update Sesion - asistencia"
                    },
                    "Update Sesion - asistencia": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::dynamodb:updateItem",
                      "Arguments": {
                        "TableName": "${sesiones_table_name}",
                        "Key": {
                          "sesId": {
                            "N": "{% $sesId %}"
                          },
                          "legId": {
                            "N": "{% $legId %}"
                          }
                        },
                        "UpdateExpression": "SET fechaModificacion = :fechaModificacion, asistencia = :asistencia",
                        "ExpressionAttributeValues": {
                          ":fechaModificacion": {
                            "S": "{% $now() %}"
                          },
                          ":asistencia": {
                            "M": "{% $asistencia %}"
                          }
                        }
                      },
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "Extract senSlug's",
                  "States": {
                    "Extract senSlug's": {
                      "Type": "Pass",
                      "Next": "Senadores",
                      "Output": "{% $states.input.DATA[].SLUG ~> $distinct %}"
                    },
                    "Senadores": {
                      "Type": "Map",
                      "ItemProcessor": {
                        "ProcessorConfig": {
                          "Mode": "INLINE"
                        },
                        "StartAt": "Assign slug",
                        "States": {
                          "Assign slug": {
                            "Type": "Pass",
                            "Assign": {
                              "slug": "{% $states.input %}"
                            },
                            "Next": "Senador SQS"
                          },
                          "Senador SQS": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::sqs:sendMessage",
                            "Arguments": {
                              "QueueUrl": "${parlamentario_queue_url}",
                              "MessageBody": "{% $slug %}"
                            },
                            "End": true,
                            "Output": {
                              "MessageId": "{% $states.result.MessageId %}"
                            }
                          }
                        }
                      },
                      "End": true,
                      "MaxConcurrency": 10
                    }
                  }
                }
              ],
              "End": true
            }
          }
        },
        {
          "StartAt": "Get Votaciones",
          "States": {
            "Get Votaciones": {
              "Type": "Task",
              "Resource": "arn:aws:states:::http:invoke",
              "Arguments": {
                "ApiEndpoint": "https://web-back.senado.cl/api/votes",
                "Method": "GET",
                "InvocationConfig": {
                  "ConnectionArn": "${events_connection_arn}"
                },
                "QueryParameters": {
                  "id_sesion": "{% $sesId %}"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "States.ALL"
                  ],
                  "BackoffRate": 2,
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "JitterStrategy": "FULL"
                }
              ],
              "Next": "Assign votaciones & boletines",
              "Output": "{% $states.result.ResponseBody %}"
            },
            "Assign votaciones & boletines": {
              "Type": "Pass",
              "Next": "Parallel Votacion",
              "Assign": {
                "votaciones": "{% $type($states.input.data.data) = \"array\" ?\n$states.input.data.data[].{\n    \"M\": {\n        \"votId\": {\n            \"N\": ID_VOTACION ~> $string\n        },\n        \"sesId\": {\n            \"N\": ID_SESION ~> $string\n        },\n        \"sesNumero\": {\n            \"N\": NUMERO_SESION ~> $string\n        },\n        \"fecha\": {\n            \"S\": FECHA_VOTACION\n        },\n        \"hora\": {\n            \"S\": HORA\n        },\n        \"tema\": {\n            \"S\": TEMA\n        },\n        \"quorum\": {\n            \"S\": QUORUM\n        },\n        \"boletin\": BOLETIN != null ? {\n            \"S\": BOLETIN\n        } : undefined,\n        \"resultado\": {\n            \"M\": {\n                \"si\": {\n                    \"N\": SI ~> $string\n                },\n                \"no\": {\n                    \"N\": NO ~> $string\n                },\n                \"abs\": {\n                    \"N\": ABS ~> $string\n                },\n                \"pareo\": {\n                    \"N\": PAREO ~> $string\n                }\n            }\n        },\n        \"detalle\": {\n            \"L\": (\n                $si := VOTACIONES.SI = 0 ? [] : VOTACIONES.SI[].{ \"M\": { \n                    \"parId\": { \"N\": PARLID ~> $string }, \n                    \"parSlug\": { \"S\": SLUG }, \n                    \"voto\": { \"S\": \"SI\" }\n                } };\n                $no := VOTACIONES.NO = 0 ? [] : VOTACIONES.NO[].{ \"M\": { \n                    \"parId\": { \"N\": PARLID ~> $string }, \n                    \"parSlug\": { \"S\": SLUG }, \n                    \"voto\": { \"S\": \"NO\" }\n                } };\n                $abstencion := VOTACIONES.ABSTENCION = 0 ? [] : VOTACIONES.ABSTENCION[].{ \"M\": { \n                    \"parId\": { \"N\": PARLID ~> $string }, \n                    \"parSlug\": { \"S\": SLUG }, \n                    \"voto\": { \"S\": \"ABSTENCION\" }\n                } };\n                $pareo := VOTACIONES.PAREO = 0 ? [] : VOTACIONES.PAREO[].{ \"M\": { \n                    \"parId\": { \"N\": PARLID ~> $string }, \n                    \"parSlug\": { \"S\": SLUG }, \n                    \"voto\": { \"S\": \"PAREO\" }\n                } };\n                $append($append($si, $no), $append($abstencion, $pareo))\n            )\n        }\n    }\n} : [] %}",
                "boletines": "{% (\n    $boletines:=$filter($states.input.data.data.BOLETIN, function($v) { $v != null });\n\n    $type($boletines) = \"array\" ?\n        $map(\n            $boletines, function($v) { $split($v, \"-\")[0] }\n        )[] ~> $distinct\n    : []\n) %}"
              }
            },
            "Parallel Votacion": {
              "Type": "Parallel",
              "Branches": [
                {
                  "StartAt": "Update sesion - votaciones",
                  "States": {
                    "Update sesion - votaciones": {
                      "Type": "Task",
                      "Resource": "arn:aws:states:::dynamodb:updateItem",
                      "Arguments": {
                        "TableName": "${sesiones_table_name}",
                        "Key": {
                          "sesId": {
                            "N": "{% $sesId %}"
                          },
                          "legId": {
                            "N": "{% $legId %}"
                          }
                        },
                        "UpdateExpression": "SET fechaModificacion = :fechaModificacion, votaciones = :votaciones",
                        "ExpressionAttributeValues": {
                          ":fechaModificacion": {
                            "S": "{% $now() %}"
                          },
                          ":votaciones": {
                            "L": "{% $votaciones %}"
                          }
                        }
                      },
                      "End": true
                    }
                  }
                },
                {
                  "StartAt": "Boletines",
                  "States": {
                    "Boletines": {
                      "Type": "Map",
                      "ItemProcessor": {
                        "ProcessorConfig": {
                          "Mode": "INLINE"
                        },
                        "StartAt": "Boletin SQS",
                        "States": {
                          "Boletin SQS": {
                            "Type": "Task",
                            "Resource": "arn:aws:states:::sqs:sendMessage",
                            "Arguments": {
                              "QueueUrl": "${boletin_queue_url}",
                              "MessageBody": "{% $states.input %}"
                            },
                            "End": true,
                            "Output": {
                              "MessageId": "{% $states.result.MessageId %}"
                            }
                          }
                        }
                      },
                      "End": true,
                      "MaxConcurrency": 10,
                      "Items": "{% $boletines %}"
                    }
                  }
                }
              ],
              "End": true
            }
          }
        }
      ],
      "End": true
    }
  }
}
