senado.cl/iac/lib/tables/asl/table-query-list.asl.json
{
  "QueryLanguage": "JSONata",
  "Comment": "Listado de tablas y queries que gatillan la regeneración de las tablas",
  "StartAt": "Table-Query List",
  "States": {
    "Table-Query List": {
      "Type": "Pass",
      "Next": "Foreach Table",
      "Output": "${table_queries}"
    },
    "Foreach Table": {
      "Type": "Map",
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "INLINE"
        },
        "StartAt": "Assign variables",
        "States": {
          "Assign variables": {
            "Type": "Pass",
            "Next": "Recreate Table",
            "Assign": {
              "table": "{% $states.input.table %}",
              "query": "{% $states.input.query %}"
            }
          },
          "Recreate Table": {
            "Type": "Task",
            "Arguments": {
              "StateMachineArn": "${recreate_table_state_machine}",
              "Input": {
                "tableName": "{% $table %}",
                "createQuery": "{% $query %}"
              },
              "Name": "{% $table & '-' & $millis() %}"
            },
            "Resource": "arn:aws:states:::aws-sdk:sfn:startSyncExecution",
            "End": true
          }
        }
      },
      "End": true,
      "MaxConcurrency": 5
    }
  }
}
